<h1>{{ message }}</h1>

<div>
    <p>Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you
        ask: It's BSD licensed!
    </p>
    <p>What is in the box?</p>
</div>

<ul>
    <li>built-in development server and debugger</li>
    <li>integrated unit testing support</li>
    <li>RESTful request dispatching</li>
    <li>uses Jinja2 templating</li>
    <li>support for secure cookies (client side sessions)</li>
    <li>100% WSGI 1.0 compliant</li>
    <li>Unicode based</li>
</ul>