<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title>Ng-tests</title>
    <script src="/js/angular.js"></script>
    <script src="/js/script.js"></script>
    <link href="/styles.css" rel="stylesheet" />
</head>

<body>
    <div ng-controller="myController">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Like/Dislike</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="technology in technologies">
                <td>{{ technology.name }}</td>
                <td>{{ technology.likes }}</td>
                <td>{{ technology.dislikes }}</td>
                <td>
                    <input type="button" value="Like" ng-click="likeTechnology(technology)"/>
                    <input type="button" value="Dislike" ng-click="dislikeTechnology(technology)"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>