<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title>Ng-tests</title>
    <script src="/js/angular.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/filters.js"></script>
    <link href="/styles.css" rel="stylesheet" />
</head>

<body>
    <div ng-controller="myController">
        <br/>
        <ul>
            <li ng-repeat="country in countries" ng-init="parentIndex = $index">
                {{ country.name }}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{ city.name }} - Index = [{{ parentIndex }},{{ $index }}]
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>